#content {
    background-color: gray;
    max-width: 800px;
    margin: 0 auto;
}

#hero-img {
    width: 100%;
}

.desk {
    margin: 0 30px;
    width: 150px;
    border-radius: 50%;
}

.graphic {
    margin: 0 30px;
    width: 150px;
    border-radius: 50%;
    
}

.person {
    margin: 0 30px;
    width: 150px;
    border-radius: 50%;
}

main {
    padding: 20px;
    text-align: center;
}

main img {
    border: solid;
    border-width: 9px;
    border-color: #353638;
}